In [1]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Print the three first rows using the head() method.

In [2]:
df = df.head(3)
  
# show the dataframe
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Extract the 'name' and 'score' columns from the DataFrame.

In [6]:
df = pd.DataFrame(exam_data , index=labels)
print("Sélection des colonne spécifiques:")
print(df[['name', 'score']])

Sélection des colonne spécifiques:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

In [7]:
import pandas as pd

data = {'name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Jivika'],
        'score': [12.5, 9, 16.5, 10, 14.5],
        'attempts': [1, 3, 2, 3, 2],
        'qualify': ['yes', 'no', 'yes', 'no', 'yes']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df.loc[len(df.index)] = ["Suresh", 15.5, 1, "yes"]
print("\nNew row added to DataFrame:")
print(df)

Original DataFrame:
        name  score  attempts qualify
0      Ankit   12.5         1     yes
1       Amit    9.0         3      no
2  Aishwarya   16.5         2     yes
3   Priyanka   10.0         3      no
4     Jivika   14.5         2     yes

New row added to DataFrame:
        name  score  attempts qualify
0      Ankit   12.5         1     yes
1       Amit    9.0         3      no
2  Aishwarya   16.5         2     yes
3   Priyanka   10.0         3      no
4     Jivika   14.5         2     yes
5     Suresh   15.5         1     yes

Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [8]:
import pandas as pd

data = {'name': ['John', 'Mary', 'Peter', 'Jeff', 'Bill'],
        'score': [95, 80, 85, 90, 75],
        'attempts': [1, 3, 2, 3, 2]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df.drop('attempts', axis=1, inplace=True)

print("\nDataFrame after deleting 'attempts' column:")
print(df)

Original DataFrame:
    name  score  attempts
0   John     95         1
1   Mary     80         3
2  Peter     85         2
3   Jeff     90         3
4   Bill     75         2

DataFrame after deleting 'attempts' column:
    name  score
0   John     95
1   Mary     80
2  Peter     85
3   Jeff     90
4   Bill     75

Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

In [12]:
df['Success'] = df['score'].apply(lambda x: 1 if x > 10 else 0)

After executing the final DataFrame, export it into a CSV file named "my_data".

In [13]:
df.to_csv(r'C:\Users\pc\OneDrive\Documents\Python Scripts\my_data.csv', index=False)